@import 'variables';

.btn-turquoise {
  background-color: transparent;
  border: 1px solid $turquoise;
  border-radius: 7px;
  color: $dark-grey-text;

  &:hover {
    background-color: $turquoise;
    color: $dark-grey-text;
    border: 3px solid $turquoise;
  }
}

.btn-h1-spacing {
  margin-top: 20px;
}
