@import 'variables';

.projects {
  background: rgba($container-grey, .2);
  text-align: center;
  border: .5px solid rgba($white, .1);
  color: $dark-grey-text;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 10px;

  &:hover {
    background: rgba($orange, .8);
    text-decoration: none;
    color: $dark-grey-text;
  }
}
