@import 'variables';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'thumbnail';
@import 'navigation';
@import 'comments';
@import 'buttons';
@import 'projects';

body {
    background-color: $grey;
    color: $dark-grey-text;
}
// DIVS

.custom-div {
    background-color: rgba($black, .7);
    color: $grey;
    font-size: 20px;
    height: 800px;
    padding: 50px;
    text-align: center;
}

.transparent-div {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bolder;
    height: 800px;
    padding: 50px;
    text-align: center;
}
// CAROUSEL

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.carousel-control.left {
  margin-right: 200px;
}
// PANEL

.panel {
    background-color: transparent;
    color: $dark-grey-text;
    box-shadow: none;

    .panel-heading {
        background-color: transparent;
        font-weight: bold;
        border: none;
    }
}

.panel-default {
    border: 0;
}
